// Place all the styles related to the check controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.correct_class_design{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: xx-large;
    background-image: url(https://i.imgur.com/zXFNlXD.jpg);
    background-size: 950px 290px;
}
.incorrect_class_design{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: xx-large;
    background-image: url(https://i.pinimg.com/originals/29/40/ea/2940ea49982a208c73902ac92201b7be.jpg);
    background-size: 950px 320px;
}